.imagem-mostruario {
  height: 300px;
  width: 300px;
  object-fit: contain;
}

#carrinho-de-compras {
  font-size: 30px;
}

#titulo {
  font-size: 30px;
  text-shadow: 2px 2px 5px;
  font-variant: small-caps;
  border: 1px solid white;
  border-radius: 10px;
}
